/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors (pastel palette)
$red-color: #ff9aa2 !default;
$red-color-dark: #e88b93 !default;
$orange-color: #f6b26b !default;
$blue-color: #7fa8d9 !default;
$blue-color-dark: #5f86b8 !default;
$pink-color: #f4a6c6 !default;
$pink-color-light: #ffe3ec !default;
$yellow-color: #f0dd91 !default;

// Site accent palette
$fern-color: #4b7f52 !default;
$moss-green-color: #7dd181 !default;
$celadon-color: #96e8bc !default;
$celadon-color-2: #b6f9c9 !default;
$frosted-mint-color: #c9ffe2 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: #1c1c1d;
$grey-900: #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($fern-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
